body{
  padding: 10px;
}

.letters{
  max-width: 200px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.letter{
  border: 1px solid;
  width: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.letter:hover{
  cursor: pointer;
}

.letterClicked{
  color: rgb(166, 166, 166);
}